.contacts {
    padding: 55px 0 63px;
    text-align: center;
}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--color-main-black);
}

.button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 42px;
    background-color: var(--color-main-black);
    border-radius: 21px;
    margin: 75px auto 40px;
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-main);
}

.button-link:hover {
    opacity: .8;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--color-main-black);
}

.social-icon:hover {
    fill: lightcoral;
}

.contacts-info {
    width: 260px;
    margin: 35px auto 0;
    color: var(--font-color-grey);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 480px) {
    .button-link {
        width: 250px;
        height: 32px;
        font-size: 18px;
    }
    .socials {
        gap: 20px;
    }
    .social-icon {
        width: 55px;
        height: 55px;
    }
    .contacts-info {
        font-size: 14px;
    }
}